.intro {
  background-color: #f6f7f8;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.introImage {
  max-width: 969px;
  margin-left: -500px;
}

.introContent {
  max-width: 560px;
  margin-left: 130px;
}