.skills_content {
  width: 40%;
  padding: 100px;
  background-color: #1f252f;
}

.skills_title {
  color: #ffffff;
}
.skills_subTitle {
  color: #b9b9b9;
}

.skills_text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #cccccc;
}

.progress {
  line-height: 30px;
  font-weight: 400;
  position: relative;
  overflow: hidden;
  margin: 5px 0 38px 0;
  width: auto;
}

.progress progress {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  left: -777px;
}
.progress_title {
  font-size: 18px;
  color: #ffffff;
}
.progress_bar {
  overflow: hidden;
  background: linear-gradient(to right, #00f0ff, #ebacfd);
  width: 80%;
  height: 6px;
  position: absolute;
  top: 2px;
  left: 2px;
}

.progress_value {
  font-size: 14px;
  color: #999999;
  left: 80%;
  position: absolute;
  top: 9px;
  margin-left: -5px;
  width: 10px;
  height: 10px;
  opacity: 0;
  transition: all linear 0.2s;
}

.progress:hover .progress_value {
  opacity: 1;
}

.progress_bg {
  background: #131313;
  position: relative;
  height: 10px;
  overflow: hidden;
  margin: 15px 0 0;
}

.button_skills {
  display: inline-block;
  padding: 20px 65px;
  background-color: #4285f4;
  border: 1px solid #2c6cd6;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  margin: 30px 0 0;
  transition: all 0.2s linear;
}

.button_skills:before {
  content: url(../img/button/meet.png);
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  padding-right: 9px;
}

.button_skills:hover {
  color: #ffffff;
  background: #82b440;
  border: 1px solid #668d33;
}
