.portfolio {
  padding: 100px 0;
}

.homeTitle {
  margin: 0 auto;
  text-align: center;
  max-width: 530px;
}

.portfolioGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 420px);
  gap: 0px 0px;
  grid-template-areas:
    'portfolioImage1 portfolioImage3 portfolioImage4 portfolioImage6'
    'portfolioImage2 portfolioImage3 portfolioImage5 portfolioImage7';
  overflow: hidden;
}

.portfolioImage1 {
  grid-area: portfolioImage1;
  background-image: url(./Images/cup.jpg);
  background-position: center;
  background-size: cover;
}

.portfolioImage2 {
  grid-area: portfolioImage2;
  background-image: url(./Images/monoblock.jpg);
  background-position: center;
  background-size: cover;
}

.portfolioImage3 {
  grid-area: portfolioImage3;
  background-image: url(./Images/mersedes_amg.jpg);
  background-position: center;
  background-size: cover;
}

.portfolioImage4 {
  grid-area: portfolioImage4;
  opacity: 0.9;
  background-image: url(./Images/smartphones.jpg);
  background-position: center;
  background-size: cover;
}

.portfolioImage5 {
  grid-area: portfolioImage5;
  background-image: url(./Images/notebook.jpg);
  background-position: center;
  background-size: cover;
}

.portfolioImage6 {
  grid-area: portfolioImage6;
  background-image: url(./Images/portfel.jpg);
  background-position: center;
  background-size: cover;
}

.portfolioImage7 {
  grid-area: portfolioImage7;
  background-image: url(./Images/pen.jpg);
  background-position: center;
  background-size: cover;
}
