@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@font-face {
  font-family: 'FuturaPT';
  src: local("FuturaPT"), url(../../fonts/FuturaPT-Bold.woff) format("woff");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'Open Sans';
}

.title {
  font-size: 36px;
  line-height: 30px;
  font-weight: 300;
  color: #333333;
}

.subTitle {
  font-size: 18px;
  line-height: 36px;
  font-weight: 300;
  color: #999999;
}

.gradientLine {
  width: 100px;
  height: 1px;
  background-color: #000000;
  background-image: linear-gradient(90deg, #00f0ff -25%, #ebacfd 125%);
  margin: 28px 0 15px;
  display: inline-block;
}




