.statistics {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 280px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: 'support purchases cups likes tweets comments';
  background-color: #1f252f;
  align-items: center;
  justify-items: center;
}

.support {
  grid-area: support;
  width: 100%;
}

.purchases {
  grid-area: purchases;
  width: 100%;
}

.cups {
  grid-area: cups;
  width: 100%;
}

.likes {
  grid-area: likes;
  width: 100%;
}

.tweets {
  grid-area: tweets;
  width: 100%;
}

.comments {
  grid-area: comments;
  width: 100%;
}
