.introducing_demos {
  padding: 90px 0 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introducing_content {
  max-width: 560px;
  margin: 0 0 0 50px;
}

.introducing_text {
  margin: 5px 0 30px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #575757;
}

.introducing_text ul {
  color: #333333;

  margin-left: 0;
  padding-left: 0;
}
.introducing_text li {
  list-style-type: none;
}

.introducing_text svg {
  margin-right: 10px;
}
