.title {
  font-size: 36px;
  line-height: 30px;
  font-weight: 300;
  color: #333333;
}

.subTitle {
  font-size: 18px;
  line-height: 36px;
  font-weight: 300;
  color: #999999;
}

.gradientLine {
  width: 100px;
  height: 1px;
  background-color: #000000;
  background-image: linear-gradient(90deg, #00f0ff -25%, #ebacfd 125%);
  margin: 28px 0 15px;
  display: inline-block;
}